*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: muli;
}
.navbar{
  background-color: #fff !important;
}
.navbar a{
  font-size: 1.3rem;
  text-transform: capitalize;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.navbar-brand{
  font-size: 1.9rem !important;
  color: #565387 !important;
}

.navbar a:hover{
  color: green !important;
}
#header .btn-get-started{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #3498db;
  border: 2px solid #3498db;
  text-decoration: none;
}

#header .btn-get-started:hover{
  background: #3498db;
  color: #fff;
}
.header-img{
  text-align: right;
}
#header .animated{
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down{
  0% {
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}
@keyframes up-down{
  0% {
    transform: translateY(10px);
  }
  100%{
    transform: translateY(-10px);
  }
}

#header{
  width: 100%;
  height: 80vh;
  margin-top: 70px;
}
#header h1{
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  color: black;
}
#header .brand-name{
  color: #3498db;
}
#header h2{
  color: #484848;
  font-size: 24px;
}
@media (max-width: 991px){
  .menu_active{
    font-weight: bold;
    border-bottom: none;
  }
  .navbar-brand{
    font-size: 1.5rem !important;
  }
  #header h1{
    padding-left: 35px;
    align-items: center;
  }
}

.card-img-top{
  height: 100px;
  width: 100px;
  margin-left: 150px;
}
.card-body{
  text-align: center;
}
.tab-center{
  text-align: center;
}
.explain{
  text-align: center;
  
}
.Card{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px;
  
}

/* ------------------------Contact CSS----------------------------- */
/* ContactInfo.css */

.contact-info {
  
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}

a {
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

/* Icons */
svg {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  vertical-align: middle;
}

/* Add more custom styles here if needed */
